      <footer>
      <!-- <div class="title"> <h2>University of Allahabad</h2></div> -->
      <div class="footer-section">
        <div class="footer-left">
          <img class="footer-logo" src="<%= path %>assets/logo.png" alt="image" />
          <ul class="list">
            <li class="list-items">@lopem ipsum</li>
            <li class="list-items">Home</li>
            <li class="list-items">APIs</li>
            <li class="list-items">Blogs</li>
            <li class="list-items">Forums</li>
          </ul>
        </div>

        <div class="footer-right">
          <div class="footer-right">
            <i
              id="footer-logos"
              class="fa-brands fa-facebook-f"
              style="color: #ffffff"
            ></i>
            <i
              id="footer-logos"
              class="fa-brands fa-instagram"
              style="color: #ffffff"
            ></i>
            <i
              id="footer-logos"
              class="fa-brands fa-linkedin"
              style="color: #ffffff"
            ></i>
          </div>
          <ul class="logos-list">
            <li class="list-items">FAQ</li>
            <li class="list-items">Business</li>
            <li class="list-items">Help</li>
          </ul>
        </div>
      </div>
      </footer>

  
    </div> 
    <script  type="text/javascript" src="<%= path %><%= script %>"></script>

