  <!-- hero-section -->
  <section class="hero">
    <div class="hero-left">
      <h1 class="Institute">
        Institute of <br />
        <span class="pro">Professional Studies</span>
      </h1>
      <p>
        High Quality Course at Affordable prices. <br />
        We are latest in tech and highest in quality. <br />
        <span class="trust">
          Trusted by 300,000 Student and Professionals.</span
        >
      </p>
    </div>
    <div class="hero-right">
      <div class="slideshowContainer">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <% for(let image of sliderImages) { %>
        <div class="mySlides fade-in-image"><img src="<%= path %>assets/<%= image %>" alt="image" ></div>
        <% } %>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </div>
  </section>