<% for(let message of messageSection) { %>
<section class="webdesign-wrapper">
    <h2>Message From The <%= message.name %></h2>
    <div class="webdesign">
      <div class="webdesign-left">
        <h4><%= message.inShort %></h4>
        <p><%= message.message %></p>
      </div>
      <div class="webdesign-right">
        <div class="webdesign-img">
          <img src="./assets/<%= message.image %>" alt="image" />
        </div>
      </div>
    </div>
  </section>
  <% } %>