  <section>
    <div class="happiness">
      <div class="newsTitle">
        <h1 class="happyHead">News</h1>
      </div>
      <div class="newsTitle">
        <h1 class="happyHead">Events</h1>
      </div>
      <div class="newsTitle">
        <h1 class="happyHead">Announcements</h1>
      </div>
    </div>
  </section>