<% layout('layouts/boilerplate') %>

    <div class="col-8">
        <h1 class="text-center">All News</h1>
        <div>
            <a href="/news/new">Add a News</a>
        </div>
    
        <% for (let c of news){%>
            <div class="card mb-3">
                <div class="row">
                        <div class="card-body ps-4">
                            <h5 class="card-title"><%= c.title %></h5>
                            <p class="card-text"><b>DESCRIPTION : </b><%= c.description %></p>
                            <a class="btn btn-primary" href="/news/<%=c._id%>">View more...</a>
                        </div>
                    
                </div>
            </div>
        <% }%>
    </div>    