<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Make a new Event</h1>
        <div class="col-6 offset-3"> 
            <form action="/events" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="event[title]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="event">Description</label>
                    <textarea class="form-control" type="text" id="event" name="event[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pdfUrl">pdf Url</label>
                    <input class="form-control" type="url" id="pdfUrl" name="event[pdfUrl]" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
 
                <div class="d-inline mb-3">
                    <button class="btn btn-danger">Submit</button>
                </div>
                <div class="d-inline mb-3">
                    <a href="/events" class="btn btn-success">Back to All Events</a>
                </div>
            </form>
               
        </div>
    </div>
    