<div class="row mb-4">

    <div class="col-4" style="background-color: #ffa500;"> 
      <div class="dropdown mt-4 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Announcements
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/announcements">All Announcements</a></li>
          <li><a class="dropdown-item" href="/admin/announcements/new">Add new Announcement(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Courses
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/courses">All Courses</a></li>
          <li><a class="dropdown-item" href="/admin/courses/new">Add new Course(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Events
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/events">All Events</a></li>
          <li><a class="dropdown-item" href="/admin/events/new">Add new Event(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Faculties
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/faculties">All Faculties</a></li>
          <li><a class="dropdown-item" href="/admin/faculties/new">Add new Faculty(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Navbar Items
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/navbarItems">All Navbar Items</a></li>
          <li><a class="dropdown-item" href="/admin/navbarItems/new">Add new Navbar Item(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          News
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/news">All News</a></li>
          <li><a class="dropdown-item" href="/admin/news/new">Add new News</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Notifications
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/notifications">All Notifications</a></li>
          <li><a class="dropdown-item" href="/admin/notifications/new">Add new Notification(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pages
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/pages">All Pages</a></li>
          <li><a class="dropdown-item" href="/admin/pages/new">Add new Page(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Staffs
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/staffs">All Staffs</a></li>
          <li><a class="dropdown-item" href="/admin/staffs/new">Add new Staff(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Students
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/students">All Students</a></li>
          <li><a class="dropdown-item" href="/admin/students/new">Add new Student(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Uploads
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/admin/uploads">All Uploads</a></li>
          <li><a class="dropdown-item" href="/admin/uploads/new">New Upload(s)</a></li>
        </ul>
      </div>
      <div class="dropdown mt-1 mb-3 d-grid gap-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          other
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>   