<%- include('partials/header') %> <!--including the common head-->

<div class="pageSection">
    <h1>I'm sorry, we couldn't find the <%= centre %> page! Error 404 occurred.  </h1>

</div>


<%- include('partials/footer') %>
