<%- include('partials/header') %> 

<div class="errorPage">
    <div class="errorMiddle">
        <div class="alertContainer" role="alert">
            <h4 class="alertHeading"><%= err. message%></h4>
            <% if( process.env.NODE_ENV !== "production" ) { %>
            <p class="alertMsg"><%= err.stack %></p>
            
            <% } %>
        </div>
    </div>
</div>



<%- include('partials/footer') %>
