 
 /*................. upload show clipboard copy style ....................... */

 .clip {
    position: relative;
    display: inline-block;
  }
  #myInput {
  border: 0px;
  background-color: #fff;
  font-size: 1.5rem;
  }
  
  .clip .cliptext {
    visibility: hidden;
    max-width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
  }
  
  .clip .cliptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .clip:hover .cliptext {
    visibility: visible;
    opacity: 1;
  }