@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
*{
  margin: 0;
  padding: 0;
}
:root {
  --fore-color: #2e3440;
  --secondary-fore-color: #3b4252;
  --back-color: #eceff4;
  --secondary-back-color: #e5e9f0;
  --border-color: #d8dee9;
  --secondary-border-color: #e5e9f0;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.25rem;
  --accent-color: #5e81ac;
  --button-fore-color: #2e3440;
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --modal-overlay-color: rgba(0, 0, 0, 0.45);
  --modal-close-color: #a2d5f2;
  --modal-close-hover-color: #e5e9f0;
  --modal-back-color: #fff;
  --color-primary: #07689f;
  --color-navigation: #333;
  --color-container: #ffffff;
  --color-text-white: #fff;
  --color-text-black: #000;
  --color-headings: #000;
  --color-body: #f5f5f7;
  --color-body-darker: #979797;
  --color-border: #ccc;
}



.bg {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.navbarContainer {
  margin: 0 auto;
}

.nameips {
  z-index: -10;
}

/*.............................. centreSection ............................*/

.nameips {
  visibility: hidden;
}

.hero {
  display: flex;
  padding: 50px 51px 50px 49px;
  gap: 5%;
  
  font-family: "DM Sans", sans-serif;
}
.hero-left {
  margin: auto;
  width: 80%;
}
.hero .hero-left .Institute {
  /* color: #000000; */
  width: 500px;
  font-size: 2.5rem;
  line-height: 60px;
  margin-bottom: 30px;
}
.hero .hero-left .pro {
  color: #07689f;
  font-size: 3rem;
  line-height: 60px;
  margin-bottom: 30px;
}
.hero .hero-left p {
  /* color: #000000; */
  font-size: 24px;
  font-weight: 800;
}
.hero .hero-left .trust {
  /* color: #000000; */
  font-size: 20px;
  text-align: justify;
  font-weight: 300;
}
@media only screen and (max-width: 1400px) {
  .nameips {
    visibility: hidden;
  }
  .hero {
    padding: 100px 90px 40px 90px;
  }
}
@media only screen and (max-width: 1110px) {
  .nameips {
    visibility: hidden;
  }

  .hero {
    margin-top: 0px;
    padding: 100px 30px 40px 30px;
  }
  .hero .hero-left .trust {
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
  }
  
}
@media only screen and (max-width: 815px) {
  .hero .hero-left .trust {
    /* color: #ffffff; */
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
  }
  .nameips {
    visibility: visible;
    color:  #07689f;
    z-index: 1;
    font-size: 2rem;
    margin-top: 30px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
  }
  .nameips span {
    color:  #07689f;
    font-size: 2rem;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .hero .hero-left {
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .hero {
    justify-content: center;
    margin-top: -122px;
  }
  .hero .hero-right {
    width: 500px;
  }
  .hero .hero-right .Institute {
    font-size: 1.2rem;
    line-height: 50px;
    margin-bottom: 20px;
  }
}

/*........................slider section........................................*/

.hero .hero-right {
  overflow: hidden;
  max-width: 95vh;
  max-height: 90vh;
  
  margin: auto;
}
.slideshowContainer {
  position: relative;
  height: 95vh;
  max-width: 100%;
  overflow: hidden;
  
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--------image section-------------------------*/
.imageBackground {
  background-color: #1c1717;
  
}
.mySlides img {
  
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: bottom;
  opacity: 0.8;
  display: block;
  z-index: 1;
}
/*---------------------------------------------------left-right arrows---------------------------------------------------*/
.prev,
.next {
  position: absolute;
  z-index: 2;
  color: #fafafa;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  background-color: #07689f0f;
}
.prev {
  left: 0;
  border-radius: 0 3em 3em 0;
  /* padding-right: 25px; */
  padding-right: 1.563rem;
}
.next {
  right: 0;
  border-radius: 3em 0 0 3em;
  /* padding-left: 25px; */
  padding-left: 1.563rem;
}
.prev:hover,
.next:hover {
  background-color: #a2d5f277;
}
/*----------------------------------------------Fading animation--------------------------------------------------------*/
.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*............................. newsSection ....................................*/

.happiness {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: #07689f17;
  height: 80v;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
}
.happiness .newsTitle .happyHead {
  margin-top: -20px;
  padding-bottom: 15px;
  background-color: #207baf;
  color: #fafafa;
}

.newsTitle ul li {
  list-style-type:none ;
  font: 1.2em sans-serif;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #07689f;
}
.newsTitle ul li:hover {
  color: #a2d5f2;
}

.newsTitle {
  text-align: center;
  padding-top: 50px;
  height: 30rem;
  width: 25rem;
  z-index: 1;
  margin: 50px 50px 50px 50px;
  background-color: #fafafa;
  border-radius: 25px;
  box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 815px) {
  .happiness {
    flex-wrap: wrap;
    justify-content: center;
  }
}

dialog {
  border-radius: calc(2 * var(--universal-border-radius));
  border-color: var(--border-color);
  border-width: 4px;
  box-shadow: 0 0 24px var(--modal-close-color);
  padding: calc(2 * var(--universal-padding)) calc(4 * var(--universal-padding));
  background-color: var(--modal-back-color);
  width: 80%;
  height: 90%;
  margin: auto;
  position: fixed;
}
::backdrop {
  background-color: var(--modal-overlay-color);
  backdrop-filter: blur(2px);
}
embed {
  height: 450px;
}
#reusableDialogContent {
  width: 100%;
  height: 100%;
}

dialog .cross {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0.4rem;
}
dialog .cross::before {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0.4rem;
}

dialog form {
  border: 0;
}
dialog #dialogActions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  overflow: visible;
  text-transform: none;
  display: inline-block;
  background: #fafafa;
  color: #07689f;
  border: 0.0625rem solid #07689f;
  border-radius: var(--universal-border-radius);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
  margin: var(--universal-margin);
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}
.btn:hover {
  background: #a2d5f2;
  color: #fff;
  border: 0.0625rem solid #a2d5f2;
}

/*................message form director..............*/

.webdesign .webdesign-left .messagefromvc {
  font-size: 16px;
  font-weight: 150;
  text-align: justify;
  width: 130%;
  font-family: "Alkatra", cursive;
}
.webdesign-wrapper {
  background-color: #fafafa;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "DM Sans", sans-serif;
}
.webdesign-wrapper h2 {
  /* font-family: "Raleway"; */
  font-size: 3.9rem;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
  font-weight: 700;
}
.webdesign {
  max-width: 78rem;
  margin: 40px auto 0 auto;
  display: flex;
  /* background-color: #27496c; */
  /* background-color: #609966; */
  justify-content: center;
  gap: 90px;
  color: #000000;
  align-items: center;
}
.webdesign .webdesign-left h3 {
  font-size: 2.5rem;
  color: #000000;
  padding-bottom: 30px;
  /* background-color: #27496c; */
  /* background-color: #609966; */
  font-weight: 700;
  /* font-family: "Raleway"; */
}
.webdesign .webdesign-left p {
  font-size: 1.2rem;
  /* background-color: #27496c; */
  /* background-color: #609966; */
  color: #000000;
  font-weight: 600;
  padding-bottom: 30px;
}

.webdesign-right .webdesign-img {
  width: 34rem;
  height: 600px;
  overflow: hidden;
}
.webdesign-right .webdesign-img img {
  width: 60%;
  height: 60%;
  margin-left: 190px;
  object-fit: cover;
  object-position: right;
}

@media only screen and (max-width: 1134px) {
  .webdesign .webdesign-left h3 {
    font-size: 1.8rem;
  }
  .webdesign .webdesign-left p {
    font-size: 0.9rem;
  }
  .webdesign-right .webdesign-img {
    width: 24rem;
    height: 400px;
  }
}

/*.................... center.............. */
.centres {
  background-color: #07689f1c;
  font-family: "DM Sans", sans-serif;
}
.ag-format-container {
  width: 100vw;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  box-shadow: 4px 4px 3px 3px #a2d5f2, 1px 5px 10px 4px #07689f;
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #fafafa;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fafafa;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #000;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  text-decoration: none;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  /* color: #f9b234; */

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  /* background-color: #f9b234; */
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(1n) .ag-courses-item_bg {
  background-color: #139df2;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #f7b135;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #e44002;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
  .ag-courses_box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    text-decoration: none;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/*................................ counterSection ..........................................*/

.count {
  background-color: #fafafa;
  color: #07689f;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  margin: 0;
  width: 100%;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  text-shadow: 2px 10px 10px #a2d5f2dd;
}

.count .counter-container img {
  align-self: center;
  box-shadow: 5px 5px 5px #07679fd3;
  border-radius: 25px;
}

.counter {
  font-size: 50px;
  margin-top: 10px;
}

.counter-container:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 680px) {
  .count .counter-container img {
    width: 140px;
    height: 140px;
    align-self: center;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 25px;
  }
  .counter {
    font-size: 30px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 460px) {
  .count .counter-container img {
    width: 90px;
    height: 90px;
    align-self: center;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 25px;
  }
  .counter {
    font-size: 15px;
    margin-top: 10px;
  }
}

/* -----------------------------newsletter page -----------------------------*/

.newsletterContainter {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 95%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.newsletterContainter h1 {
  text-align: center;
  color: #333;
}
.newsletterContainter h2 {
  color: #333;
}
.newsletterContainter p {
  margin-bottom: 20px;
}
.article {
  margin-bottom: 40px;
}
.article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.article h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.article p {
  margin-top: 0;
}

/*..................... about IPS page ..........................*/

.bodybackground {
  background-color: #fafafa;
}
.bodysection {
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fafafa;
  margin-bottom: 40px;
}

.AboutBorder {
  height: 60%;
  background: #a2d5f2;
  color: #000;
  text-align: center;
  /* text-transform: uppercase; */
}
.AboutBorder span {
  font-size: 30px;
  font-weight: 700;
  /* text-transform: capitalize; */
}

.contentsdiv {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentsdiv .image {
  width: 30%;
}

.bulletsList {
  margin-bottom: 50px;
}

.capmuslife {
  margin-top: 20px;
  text-align: center;
}

.ulclass {
  font-size: 1.3rem;
  margin-right: 40px;
  font-weight: 100;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centerh3 {
  margin-left: 40px;
}

.ullist {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*...................... about UOA page ................*/

.alumni {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alumni .image {
  width: 30%;
}

/* conflicting with about IPS page CSS */

.aboutcontent {
  margin-left: 20px;
  margin-right: 30px;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 100;
  text-justify: inter-word;
  /* margin-bottom: 80px; */
}

/*................. syllabus page ...................*/

.uoaclass {
  background-color: #fafafa;
  /* margin-top: 170px; */
}

/* conflicting with about IPS page CSS */

.bodysection {
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: #a2d5f25e; */
  /* margin-bottom: 40px;  */
}

.titlecentre {
  font-size: 30px;
  font-weight: 800;
  margin: 40px;
}
.titlecentre td {
  padding-bottom: 40px;
  color: #07689f;
}
.centrename td {
  padding-bottom: 40px;
}
.viewDetail {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#a2d5f2, #07689f);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fafafa;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  /* font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  font-size: 18px;
  height: 42px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.viewDetail:hover {
  box-shadow: #ff7e67 0 2px 8px;
  opacity: 0.85;
}
.viewDetail:active {
  outline: 0;
}

.viewDetail:focus {
  box-shadow: #ff7e67 0 0 0 3px;
}

@media (max-width: 420px) {
  .viewDetail {
    height: 48px;
  }
}

.viewDetail a {
  color: #fafafa;
  text-decoration: none;
}

.centernamebold {
  font-size: 20px;
  color: #07689f;
  font-weight: 750;
}

/*....................... Library page ...............................*/

.bodysectionbackground {
  font-family: "DM Sans", sans-serif;
  background-color: #fafafa;
}

/* conflicting with about UoA page CSS */

.alumni {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 50px; */
}

/* conflicting with about UoA page CSS */

.ulclass {
  /* font-size: 1.8rem; */
}

/* conflicting with about UoA page CSS */

.ullist {
  margin-left: 50px;
  font-size: 20px;
}

.bodysection .alumni-last {
  padding-bottom: 50px;
}

/*................... gallery page ................*/

.gallery-section {
  background-color: #fafafa;
  padding: 20px;
}

.galleryTitle {
  background-color: #fafafa;
  text-align: center;
  font-size: 2.3rem;
  text-transform: capitalize;
  font-weight: 600;
}

.grid-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.grid-container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.grid-container:hover .box {
  transform: rotateY(25deg);
}
.grid-container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.grid-container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.grid-container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid-container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fafafa, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.grid-container .box:hover .imgBx:before {
  opacity: 1;
}
.grid-container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.grid-container .box .content h2 {
  color: #fafafa;
  transition: 0.5s;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.grid-container .box:hover .content h2 {
  transform: translateY(0px);
}
.grid-container .box .content p {
  color: #fafafa;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.grid-container .box:hover .content p {
  transform: translateY(0px);
}

/*.................. contactus page ..............*/

.padding {
  padding-bottom: 50px;
}
.picture-image {
  width: auto;
  max-width: 30%;
}
.contact h1 {
  text-align: center;
  background-color: #a2d5f2;
  color: #000;
  width: 100%;
}
.image-left,
.image-right {
  margin: 1em 0;
}
.paragraph {
  margin-left: 20px;
}
.titleh1 {
  margin-left: 20px;
}

@media (min-width: 20em) {
  .padding {
    padding-bottom: 50px;
  }
  .image-left,
  .image-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .image-left img {
    margin-right: em;
    float: left;
  }

  .image-right img {
    order: 1;
    margin-left: 1em;
    float: right;
  }
}

@media (max-width: 500px) {
  .titleh1 {
    font-size: 28px;
  }
  .bodysection {
    margin-top: 140px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fafafa;
    margin-bottom: 40px;
  }
}
@media (max-width: 900px) {
  .bg {
    background-color: #fafafa;
  }
  .contact h1 {
    margin-top: -100px;
  }
  .bodybackground {
    background-color: #fafafa;
  }
  .bodysection {
    margin-top: 140px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fafafa;
    margin-bottom: 40px;
  }
}

/*...................... notfound page ......................*/

.errorPage {
  display: flex;
  font-size: large;
  width: 98%;
  background-color: #f1f1f7;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
.errorMiddle {
  background-color: #f8b6b6;
  max-width: 500px;
  margin: auto;
}
.alertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}
.alertHeading {
  color: #d80808;
  font-weight: bolder;
  padding: 2px;
}
.alertMsg {
  font-weight: 500;
  color: #d84747;
  padding-left: 10px;
}

/*......................... footer page ............................*/

footer {
  color: #fafafa;
  background-color: #07689f;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}

.footerlogo {
  width: 250px;
}
.main {
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(5, 1fr);
}
.row {
  margin-top: 50px;
}
.footer-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.office-des {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.office a {
  text-decoration: none;
  color: #fafafa;

}
.office a:hover {
  color: #a2d5f2;

}
.num {
  font-size: 1rem;
  font-weight: 500;
}

.link-des {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link-des a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1rem;
}

.link-des a:hover {
  color: #a2d5f2;
  transition: linear 0.3s;
}

.btn-know {
  text-decoration: none;
  background-color: #fafafa;
  padding: 10px;
  position: relative;
  top: 30px;
  background-color: transparent;
  border: 1px solid #fafafa;
  color: #fafafa;
  text-transform: uppercase;
  border-radius: 10px;
}

.btn-know:hover {
  color: #07689f;
  background-color: #a2d5f2;
  transition: linear 0.3s;
}

.copyright {
  text-align: center;
}

/* conflicting */

/* hr{
  width: 90%;
  margin: 2px auto;
  opacity: 40%;
  border: 0.01px solid #fafafa;
  
} */

.copyright p {
  padding: 20px;
}

@media (max-width: 825px) {
  .main {
    gap: 10px;
    margin: 0;
  }
  .icons {
    display: flex;
  }
  .row {
    grid-column: 1/5;
  }

  .main {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

/*.......................... centre page ........................ */

.centerbody {
  margin-top: 150px;
}

/*------------ conflict--------- */

body {
  /* max-width: 100vw; */
  /* margin: 0; */
  /* font-size: 62.5%; */
  font-family: "DM Sans", sans-serif;
  background-color: #fafafa;
  /* overflow-x: hidden; */
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

designing section

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero {
  justify-content: center;
  text-align: center;
}

section .box {
  width: 100%;
  max-width: 1000px;
} */

.centerbody {
  margin-top: 150px;
}

.mainhead {
  background: rgba(255, 255, 255, 0.5);
  color: var(--color-text-black);
  padding: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--color-border);
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 50px;
}

.button .button-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.button-text {
  margin-top: 5px;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #07689f;
  font-weight: 550;
}
.button-text:hover {
  color: #a2d5f2;
}

.title-notice {
  text-decoration: underline;
  margin-bottom: 20px;
}

.li-notice {
  margin-top: 5px;
}
.notice-ul {
  font-size: 30px;
  /* margin-top: 10px; */
  cursor: pointer;
}

.bordered h3 {
  font-size: 3rem;
}

.white-background {
  background-color: var(--color-container);
}

/* Styling navigation bar */

.space-horizontal {
  width: 10px;
}

.heading {
  display: flex;
}

.gray-text {
  color: var(--color-body-darker);
}

/* Designing news layout */
.news-layout {
  margin: 10px;
  width: 300px;
  border-radius: var(--border-radius);
  padding: 30px 20px;
  word-wrap: normal;
  flex-grow: 0;
  flex-shrink: 0;
  transform: translateX(calc(max(1024px, 100vw) / 2 - 490px));
}

.news-layout:hover {
  box-shadow: 1px 0 10px 0px var(--color-border);
  transform: translateX(calc(max(1024px, 100vw) / 2 - 490px));
}

.news-description {
  font-size: 1rem;
  color: var(--color-body-darker);
}

/* Style for news container (list of news layouts) */

.news-list {
  max-width: 100vw;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.news-container button {
  width: 40px;
  height: 40px;
  border: none;
  opacity: 0.5;
  font-size: 1rem;
  font-weight: bolder;
  color: #fafafa;
  background-color: #000;
  border-radius: 50%;
}

.news-container {
  position: relative;
}

.right {
  position: absolute;
  right: 40px;
  top: 38%;
  visibility: hidden;
}

.left {
  position: absolute;
  left: 40px;
  top: 38%;
  visibility: hidden;
}

/* .menu-icon {
  display: none;    
} */

/* Responsive */

@media screen and (min-width: 320px) and (max-width: 800px) {
  .bordered h3 {
    font-size: 2rem;
  }
}

/* Designing card */

.demo {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  text-align: start;
  align-self: center;
}

@media screen and (max-width: 399px) {
  .profile-container {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    align-content: center;
    justify-items: center;
    overflow: hidden;
  }
}

@media screen and (min-width: 400px) and (max-width: 850px) {
  .profile-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    align-content: center;
    justify-items: center;
    overflow: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .profile-container {
    width: 100%;
  }
}

/* fg */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 250px;
  height: 100%;
  margin: auto;
  font-family: arial;
  border-radius: 30px;
  overflow: hidden;
}

.card h4 {
  color: var(--color-university);
  font-size: 1.4rem;
  margin: 0;
}

.card .profile-detail {
  padding: 15px;
}

.card .title {
  color: grey;
  text-transform: uppercase;
}

.card p {
  font-size: 14px;
  margin: 6px 0;
  border-bottom: 1px solid var(--color-body);
}

.card img {
  height: 200px;
  object-fit: fill;
}

@media screen and (max-width: 899px) {
  .card {
    max-width: 300px;
  }

  .card img {
    height: 250px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -900px;
  }
  to {
    top: 0;
  }
}

@keyframes animatetop {
  from {
    top: -900px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content {
  font-size: 3rem;
  background-color: #fafafa;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content div {
  height: 60vh;
  overflow-y: scroll;
  /* background-color: #a2d5f22a; */
  /* border: 1px solid #07689F; */
  font-size: 1.2rem;
  text-align: justify;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.blur {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.pos-relative {
  position: absolute;
}

.view-more {
  position: relative;
}

.card .subTitle {
  font-size: 0.8rem;
  color: grey;
  text-transform: uppercase;
}

#more-text {
  display: none;
}

.auto-height {
  height: 100vh;
}

.bordered {
  border-bottom: 1px solid var(--color-body-darker);
}

.main-container {
  max-width: 900px;
  text-align: center;
}

.main-container h5 {
  color: var(--color-university);
}

.main-container h6 {
  margin-top: 10px;
  color: var(--color-body-darker);
}

@media screen and (max-width: 800px) {
  section {
    max-height: 100%;
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

/* .menu ul, a {
  font-size: .8rem;
  padding: 0px 8px;
  cursor: pointer;
} */

/* .menu a{
  color: black;
} */

/* a {
  text-decoration: none;
} */

/* a:visited {
  text-decoration: none;
  color: black;
} */

.about-container {
  margin-top: 10px;
  margin-left: 340px;
  width: 100%;

  max-width: 900px;
  height: 100%;
}
.about-container h3 {
  font-size: 2.5rem;
  padding: 30px 30px 30px 0px;
}
.about-container p {
  font-size: 1.2rem;
  /* padding: 30px 30px 30px 0px; */
}
@media screen and (max-width: 636px) {
  .about-container {
    margin-top: 70px;
  }
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.text-btn {
  font-size: 1.2rem;
  color: var(--color-primary);
  text-decoration: underline;
  background: transparent;
  border: none;
  cursor: pointer;
}
.text-btn:hover {
  color: #a2d5f2;
}

.test {
  background: red;
}

.spacer {
  height: 20px;
}

.center-horizontal {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.subject-container {
  max-width: 600px;
  border-bottom: 1px solid var(--color-body-darker);
  align-items: center;
}

.btn a {
  text-decoration: none;
  min-width: 100px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-primary a {
  background: #fff;
  color: #07689f;
  font-size: 0.9rem;
  border: 0.0625rem solid #07679f7c;
  border-radius: var(--universal-border-radius);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}
.btn-primary a:hover {
  background: #a2d5f2;
  color: #fff;
  font-size: 0.9rem;
  border: 0.0625rem solid #07679f19;
  border-radius: var(--universal-border-radius);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.profile-container {
  width: 100%;
}

.square {
  -fx-width: 200px;
  width: 200px;
  -fx-height: 200px;
  height: 200px;
  -fx-background-color: #ff0000;
  background-color: #ff0000;
}

/*........................ navabar .................*/

.navbar {
  z-index: 4;
  background-color: #07689f;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  /* border-radius: 0 0 60% 90% / 90%; */
  height: 90px;
}
.navbar .logo img {
  width: 60%;
  padding: 20px 20px 20px;
  /* margin-top: -20px; */
}
.navbar .mobile-list {
  display: none;
}
.navbar .list {
  margin-top: 4px;
  list-style-type: none;
  display: flex;
  gap: 50px;
  font-size: 18px;
  cursor: pointer;
  padding: 15px 60px 20px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 0px;
}

.list-item {
  text-decoration: none;
  color: #fafafa;
  font-family: "DM Sans", sans-serif;
}
.navbar .list .list-item:hover {
  color: #a2d5f2;
  z-index: 10;
}
.navbar .mobile {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .navbar {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .list {
    list-style-type: none;
    display: flex;
    font-size: 0.8rem;
    gap: 40px;
    padding: 18px;
    color: #fafafa;
    font-weight: 500;
    align-items: center;
    /* margin-bottom: 0px; */
  }

  .navbar .logo img {
    width: 50%;
    padding: 20px;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 900px) {
  .navbar .logo img {
    width: 40%;
    padding: 20px;
    margin-top: 4px;
  }

  .show-navbar {
    display: flex !important;
  }
  .navbar .mobile {
    display: block;
    cursor: pointer;
    padding-right: 20px;
    margin-top: -15px;
  }
  .navbar .list {
    display: none;
  }
  .navbar {
    position: relative;
    padding-top: 10px;
  }
  .navbar .mobile-list {
    align-items: center;
    background-color: #a8addfc7;
    opacity: 0.9;
    gap: 1.1rem;
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 1.5rem 0px;
    position: absolute;
    top: 84px;
    left: 10px;
    right: 10px;
    border-radius: 26px;
    border: 2px solid #c2c7e0;
  }
  .navbar .mobile-list li a {
    font-size: 600;
    opacity: 1;
    font-family: cursive;
  }
}

/* ............nav menu option............. */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 200px;
  /* box-shadow: 0px 12px 16px 0px rgba(25, 239, 236, 0.963); */
  /* box-shadow: rgba(240, 46, 75, 0.4) 5px 5px, rgba(240, 46, 91, 0.3) 10px 10px, rgba(240, 46, 111, 0.2) 15px 15px, rgba(240, 46, 133, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  box-shadow: rgba(248, 246, 246, 0.8) 0px 2px 4px,
    rgba(243, 232, 232, 0.6) 0px 7px 13px -3px,
    rgba(238, 228, 228, 0.4) 0px -3px 0px inset;
  z-index: 1;
  border-top: 8px solid #a2d5f2;
}
.dropdown-content a {
  color: rgb(31, 30, 30);
  /* font-size: 15px; */
  font-size: 0.938rem;
  /* padding-left:10px; */
  padding-left: 0.625rem;
  /* padding-top: 5px; */
  padding-top: 0.313rem;
  /* padding-right: 20px; */
  padding-right: 1.25rem;
  /* padding-bottom: 10px; */
  padding-bottom: 0.625rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: #fafafa;
  background-color: #ff7e67;
  /* padding-left: 11px; */
  padding-left: 0.688rem;
  /* padding-right: 15px; */
  padding-right: 0.938rem;
  border-left: 4px solid #a2d5f2;
  transition: all 0.3s ease;
}
.list-item:hover .dropdown-content {
  display: block;
}

/* --------------------loadmore page------------------------------ */

.flexiable{
  display: flex;
  flex-direction: row;
}

.facultyCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.facultyTitle {
  color: grey;
  font-size: 18px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flexiable {
    flex-direction: column;
  }
  .facultyCard{
    margin-top: 50px;;
  }
}


