<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Make a new Notification</h1>
        <div class="col-6 offset-3"> 
            <form action="/admin/notifications" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="notification[title]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description (optional)</label>
                    <input class="form-control" type="text" minlength="0" id="description" name="notification[description]" required>
                    
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="pdfUrl">pdf Url</label>
                    <input class="form-control" type="text" id="pdfUrl" name="notification[pdfUrl]" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3 btn-group" role="group" aria-label="Basic radio toggle button group" >
                      <input type="radio" class="form-control btn-check" name="notification[centreCode]" id="cce" value="cce" autocomplete="off" checked>
                      <label class="form-label btn btn-outline-dark" for="cce">Computer Education</label>
                    
                      <input type="radio" class="form-control btn-check" name="notification[centreCode]" id="cfdt" value="cfdt" autocomplete="off">
                      <label class="form-label btn btn-outline-dark" for="cfdt">Fashion & Design Technology</label>
                    
                      <input type="radio" class="form-control btn-check" name="notification[centreCode]" id="cft" value="cft"  autocomplete="off">
                      <label class="form-label btn btn-outline-dark" for="cft">Food Technology</label>
                      
                      <input type="radio" class="form-control btn-check" name="notification[centreCode]" id="cms"  value="cms" autocomplete="off">
                      <label class="form-label btn btn-outline-dark" for="cms">Media Studies</label>
                </div>
                <div class="d-inline mb-3">
                    <button class="btn btn-danger">Submit</button>
                </div>
                <div class="d-inline mb-3">
                    <a href="/admin/notifications" class="btn btn-success">Back to All Notifications</a>
                </div>
            </form>
               
        </div>
    </div>
    