<% layout('layouts/boilerplate') %>

    <div class="col-8"> 
        <h1 class="text-center">All Students</h1>
        <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-danger" href="/admin/students/new">Add a Student</a>
        </div>
    
        <% for (let c of students){%>
            <div class="card mb-3">
                <div class="row">
                        <div class="card-body ps-4">
                            <h2 class="card-title"><%= c.name %></h2>
                            <% { let name = ''; %> 
                            <% if(c.centreCode === 'cfdt') { name = 'Fashion & Design Technology'; } %>
                            <% if(c.centreCode === 'cft') { name = 'Food Technology' } %>
                            <% if(c.centreCode === 'cms') { name = 'Media Studies' } %>
                            <% if(c.centreCode === 'cce') { name = 'Computer Education' } %>
                            <p class="card-text d-inline"><b>Centre Name : </b><%= name %></p>
                            <% } %>
                            <p class="card-text"><b>Enrollment No. : </b><%= c.enrollmentNumber %></p>
                            <a class="btn btn-outline-primary" href="/admin/students/<%=c._id%>">View more...</a>
                        </div>
                    
                </div>
            </div>
        <% }%>
    </div>   