<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Add a new Student</h1>
        <div class="col-6 offset-3"> 
            <form action="/admin/students" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="student[name]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="dob">Date of Birth</label>
                    <input class="form-control" type="date" id="dob" name="student[dob]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="enrollmentNumber">Enrollment No.</label>
                    <input class="form-control" type="text" id="enrollmentNumber" name="student[enrollmentNumber]" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="centreCode">Centre Code</label>
                    <input class="form-control" type="text" id="centreCode" name="student[centreCode]" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="semster">Semster</label>
                    <input class="form-control" type="number" min="0" id="semster" name="student[semster]" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="doa">Date of Admission</label>
                    <input class="form-control" type="date" id="doa" name="student[doa]" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="address">Address</label>
                    <input class="form-control" type="text" id="address" name="student[address]" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phoneNumber">Phone No.</label>
                    <input class="form-control" type="tel" id="phoneNumber" name="student[phoneNumber]" placeholder="1234567890" pattern="[0-9]{10}" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
 
                <div class="d-inline mb-3">
                    <button class="btn btn-danger">Submit</button>
                </div>
                <div class="d-inline mb-3">
                    <a href="/admin/students" class="btn btn-success">Back to All Students</a>
                </div>
            </form>
               
        </div>
    </div>
    