.bodybackground {
  background-color: #fff;
}
.bodysection {
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
}

.AboutBorder {
  height: 60%;
  background: #e7c508;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.AboutBorder span {
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
}

.contentsdiv {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentsdiv .image {
  width: 30%;
}

.aboutcontent {
  margin-left: 20px;
  margin-right: 30px;
  font-size: 1.8rem;
  text-align: justify;
  font-weight: 100;
  text-justify: inter-word;
}
.bulletsList{
  margin-bottom: 50px;
}

.capmuslife {
  margin-top: 20px;
  text-align: center;
}

.ulclass {
  font-size: 1.3rem;
  margin-right: 40px;
  font-weight: 100;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centerh3 {
  margin-left: 40px;
}

.ullist {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}
