.bodybackground{
    background-color: #fafafa;
    font-family: "DM Sans", sans-serif;
  }
.bodysection {
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fafafa;
    margin-bottom: 40px;

  }
  .padding{
    padding-bottom: 50px;
  }
.picture-image {
    width: auto;
    max-width: 30%;
  }
  .contact h1 {
    text-align: center;
    background-color: #A2D5F2;
    color: #ffffff;
    width: 100%;
  }
  .image-left,
  .image-right {
    margin: 1em 0;
  }
  .paragraph{
    margin-left: 20px;
  }
  .titleh1{
    margin-left: 20px;
  }
  
  @media (min-width: 20em) {
    
    .padding{
        padding-bottom: 50px;
      }
    .image-left,
    .image-right {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    .image-left img {
      margin-right: em;
      float: left;
    }
  
    .image-right img {
      order: 1;
      margin-left: 1em;
      float: right; 
    }
  
  }

  @media (max-width: 500px){
    .titleh1{
        font-size: 28px;
      }
      .bodysection {
        margin-top: 140px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #fafafa;
        margin-bottom: 40px;
      
      }
  }
  @media (max-width: 900px){
    .bg{
        background-color: #fafafa;
    }
    .contact h1{
        margin-top: -100px;
    }
    .bodybackground{
        background-color: #fafafa;
      }
      .bodysection {
        margin-top: 140px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #fafafa;
        margin-bottom: 40px;
      
      }
  }
  