
  
.count{
    background-color: #FAFAFA;
    color: #07689F;
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    margin: 0;
    width: 100%;
  } 
  
   .counter-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight:100;
    font-size:30px;
    text-shadow: 2px 10px 10px #a2d5f2dd;
  }
  
  .count .counter-container img{
    align-self: center;
    box-shadow: 5px 5px 5px #07679fd3;
    border-radius: 25px;
  }
  
    .counter {
    font-size: 50px;
    margin-top: 10px;
  }
  
  .counter-container:hover {
    transform: scale(1.1);
  }
  
  @media only screen and (max-width: 680px) {
   
    .count .counter-container img{
      width: 140px;
      height: 140px;
      align-self: center;
      box-shadow: 5px 5px 5px #000000;
      border-radius: 25px;
    }
    .counter {
      font-size: 30px;
      margin-top: 10px;
    }
  
  }
  @media only screen and (max-width: 460px) {
  
  .count .counter-container img{
    width: 90px;
    height: 90px;
    align-self: center;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 25px;
  }
  .counter {
    font-size: 15px;
    margin-top: 10px;
  }
  }
  