.footer-section {
  background-color: #07689F;
  display: flex;
  justify-content: space-between;
  padding: 20px 90px;
  align-items: center;
  height: 200px;
  flex-wrap: wrap;
  font-family: "DM Sans", sans-serif;
}

.footer-section .footer-left .list {
  list-style-type: none;
  display: flex;
  gap: 39px;
  color: #fafafa;
  font-weight: lighter;
  font-size: 13px;
  padding-top: 20px;
  margin-left: -40px;
}
.footer-section .footer-left .footer-logo{
  width: 10%;
}
.footer-section
  .footer-left
  .list
  .list-items
  .list-items:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #fafafa;
}

.footer-right:first-child {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 30px;
}

.footer-right #footer-logos:not(:last-child) {
  margin-right: 25px;
  width: 50%;
  cursor: pointer;
}
.footer-right .logos-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #fafafa;
  font-weight: lighter;
  font-size: 13px;
}
.footer-right .logos-list .list-items:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #fafafa;
}

@media only screen and (max-width: 670px) {
  .footer-section .footer-left .list {
    flex-direction: column;
  }
  .footer-section {
    height: auto;
    padding: 40px 20px;
  }
}
