/* * {
  margin: 0;
  padding: 0;
} */

.nameips{
  visibility: hidden;
}

.hero {
  display: flex;
  padding: 50px 51px 50px 49px;
  gap: 5%;
}
.hero-left {
  margin: auto;
}
.hero .hero-left .Institute {
  color: #000000;
  width: 500px;
  font-size: 2.5rem;
  line-height: 60px;
  margin-bottom: 30px;
}
.hero .hero-left .pro {
  color: #eb2828;
  font-size: 3rem;
  line-height: 60px;
  margin-bottom: 30px;
}
.hero .hero-left p {
  color: #000000;
  font-size: 24px;
  font-weight: 800;
}
.hero .hero-left .trust {
  color: #000000;
  font-size: 20px;
  text-align: justify;
  font-weight: 300;
}
@media only screen and (max-width: 1400px) {
  .nameips{
    visibility: hidden;
  }
  .hero {
    padding: 100px 90px 40px 90px;
  }
}
@media only screen and (max-width: 1110px) {
  .nameips{
    visibility: hidden;
  }

  .hero {
    margin-top: 0px;
    padding: 100px 30px 40px 30px;
  }
  .hero .hero-left .trust {
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
  }
  /* .hero .hero-left .Institute {
    font-size: 2.2rem;
    line-height: 50px;
    margin-bottom: 20px;
  } */
/* 
  .hero .hero-right img {
    width: 450px;
  } */
}
@media only screen and (max-width: 815px) {
  .hero .hero-left .trust {
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
  }
  .nameips{
    visibility: visible;
    color: #ffffff;
    z-index: 1;
    font-size: 2rem;
    margin-top: 30px;
    text-transform: capitalize;
    text-align: center;
  }
  .nameips span {
    color: #eb2828;
    font-size: 2rem;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .hero .hero-left {
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .hero {
    justify-content: center;
    margin-top: -122px;
  }
  .hero .hero-right {
    width: 500px;
  }
  .hero .hero-right .Institute {
    font-size: 1.2rem;
    line-height: 50px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 500px) {
 *{
  padding: 0;
  margin: 0;
 }
}

/*........................slider section........................................*/

.hero .hero-right {
  /* margin-top: -20vh; */
  overflow: hidden;
  /* margin-left: 70px; */
  /* margin-left: 4.375rem; */
  max-width: 95vh;
  max-height: 90vh;
  margin: auto;
}
.slideshowContainer {
  position: relative;
  height: 95vh;
  max-width: 100%;
  overflow: hidden;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--------image section-------------------------*/
.imageBackground{
  background-color: #1c1717;
}
.mySlides img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: bottom;
  /* height: 300px;
  width:  400px; */
  opacity: 0.8;
  display: block;
  z-index: 1;
}
/*---------------------------------------------------left-right arrows---------------------------------------------------*/
.prev,
.next {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  background-color: rgba(128, 128, 128, 0.61);
}
.prev {
  left: 0;
  border-radius: 0 3em 3em 0;
  /* padding-right: 25px; */
  padding-right: 1.563rem;
}
.next {
  right: 0;
  border-radius: 3em 0 0 3em;
  /* padding-left: 25px; */
  padding-left: 1.563rem;
}
.prev:hover,
.next:hover {
  background-color: #eb2828c7;
}
/*----------------------------------------------Fading animation--------------------------------------------------------*/
.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
