/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */

*{
  padding: 0;
  margin: 0;
}

.bg {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.navbarContainer {
  margin: 0 auto;  
}


.nameips{
  
  z-index: -10;
}



/*................message form director..............*/

.webdesign .webdesign-left .messagefromvc{
  font-size: 16px;
  font-weight: 200;
  font-family: 'Satisfy', cursive;
  
}
.webdesign-wrapper {
  background-color: #Fafafa;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "DM Sans", sans-serif;
}
.webdesign-wrapper h2 {
  /* font-family: "Raleway"; */
  font-size: 3.9rem;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
  font-weight: 700;
}
.webdesign {
  max-width: 78rem;
  margin: 40px auto 0 auto;
  display: flex;
  /* background-color: #27496c; */
  /* background-color: #609966; */
  justify-content: center;
  gap: 90px;
  color: #000000;
  align-items: center;
}
.webdesign .webdesign-left h4 {
  font-size: 2.5rem;
  color: #000000;
  padding-bottom: 30px;
  /* background-color: #27496c; */
  /* background-color: #609966; */
  font-weight: 700;
  /* font-family: "Raleway"; */
}
.webdesign .webdesign-left p {
  font-size: 1.2rem;
  /* background-color: #27496c; */
  /* background-color: #609966; */
  color: #000000;
  font-weight: 600;
  padding-bottom: 30px;
}

.webdesign-right .webdesign-img {
  width: 34rem;
  height: 600px;
  overflow: hidden;
}
.webdesign-right .webdesign-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

@media only screen and (max-width: 1134px) {
  
  .webdesign .webdesign-left h4 {
    font-size: 1.8rem;
  }
  .webdesign .webdesign-left p {
    font-size: 0.9rem;
  }
  .webdesign-right .webdesign-img {
    width: 24rem;
    height: 400px;
  }
}

/*.................... center.............. */
.centres {
  background-color: #07689f1c;
  font-family: "DM Sans", sans-serif;
}
.ag-format-container {
  width: 100vw;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #fafafa;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #000;
  z-index: 2;
  position: relative;
}


.ag-courses-item_date-box {
  font-size: 18px;
  text-decoration: none;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  /* color: #f9b234; */

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  /* background-color: #f9b234; */
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
  .ag-courses_box{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    text-decoration: none;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* -----------------------------newsletter page -----------------------------*/



.newsletterContainter {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 95%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.newsletterContainter h1 {
  text-align: center;
  color: #333;
}
.newsletterContainter h2 {
  color: #333;
}
.newsletterContainter p {
  margin-bottom: 20px;
}
.article {
  margin-bottom: 40px;
}
.article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.article h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.article p {
  margin-top: 0;
}





