<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Make a new Navbar Item</h1>
        <div class="col-6 offset-3"> 
            <form action="/navbarItems" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="item">Item</label>
                    <input class="form-control" type="text" id="item" name="navbarItem[item]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="link">Link</label>
                    <input class="form-control" type="text" id="link" name="navbarItem[link]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <% for(let i = 0; i< limit; i++) { %>
                <div class="mb-3">
                    <label class="form-label" for="subItems">Sub Item <%= i+1 %></label>
                    <input class="form-control" type="text" id="subItems" name="navbarItem[subItems][<%= i %>]" novalidate>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="subLinks">Sub Link <%= i+1 %></label>
                    <input class="form-control" type="text" id="subLinks" name="navbarItem[subLinks][<%= i %>]" novalidate>
                </div>
                <% } %>
 
                <div class="d-inline mb-3">
                    <button class="btn btn-danger">Submit</button>
                </div>
                <div class="d-inline mb-3">
                    <a href="/navbarItems" class="btn btn-success">Back to All Navbar Items</a>
                </div>
            </form>
               
        </div>
    </div>
