<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Make a new Page</h1>
        <div class="col-6 offset-3"> 
            <form action="/admin/pages" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="page[name]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="page[title]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="centreCode">Code</label>
                    <input class="form-control" type="text" id="centreCode" name="page[centreCode]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="favicon">Favicon Image Name (in assets dir only)</label>
                    <input class="form-control" type="text" id="favicon" name="page[favicon]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="shortDescription">Short Description(allowed tags: h's, p, br)</label>
                    <input class="form-control" type="text" id="shortDescription" name="page[shortDescription]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="about">About(allowed tags: h's, p, br)</label>
                    <input class="form-control" type="text" id="about" name="page[about]" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="d-inline mb-3">
                    <button class="btn btn-danger">Submit</button>
                </div>
                <div class="d-inline mb-3">
                    <a href="/admin/pages" class="btn btn-success">Back to All Pages</a>
                </div>
            </form>
               
        </div>
    </div>
    