<div class="row mb-4">

    <div class="col-4" style="background-color: orange;"> 
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Announcements
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/announcements">All Announcements</a></li>
          <li><a class="dropdown-item" href="/announcements/new">Add new Announcement(s)</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Events
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/events">All Events</a></li>
          <li><a class="dropdown-item" href="/events/new">Add new Event(s)</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Faculties
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/faculties">All Faculties</a></li>
          <li><a class="dropdown-item" href="/faculties/new">Add new Faculty(s)</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Navbar Items
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/navbarItems">All Navbar Items</a></li>
          <li><a class="dropdown-item" href="/navbarItems/new">Add new Navbar Item(s)</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          News
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/news">All News</a></li>
          <li><a class="dropdown-item" href="/news/new">Add new News</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pages
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/pages">All Pages</a></li>
          <li><a class="dropdown-item" href="/pages/new">Add new Page(s)</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mt-3 mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          other
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>   