<%- include('../partials/header') %>
  <div class="bodybackground">
    <div class="bodysection">
      <div class="AboutBorder">
        <h1 class="Abouttext"><span>About</span> <br> University of Allahabad</h1>
      </div>
      <div class="alumni">
        <img class="image" src="/assets/IMG_1905.JPG" />

        <p class="aboutcontent">
          The University of Allahabad came into existence on September 23rd, 1887
          first as an examining body and later it became a residential University
          in 1921. The Parliament passed a bill and the University earned back its
          Central Status w.e.f. 14th July, 2005. Today, it comprises of four
          faculties viz. Arts, Science, Commerce and Law and has its roll about
          35,000 students. It is one of the four oldest universities of our
          country. The University of Allahabad is mainly a teaching institution
          that awards undergraduate, post graduate and research degrees. It also
          conducts diploma, certificate and correspondence courses in some
          disciplines. The University has its own campus-wide network. The
          University is about to launch e-Learning Programmes in various
          disciplines very soon. The University of Allahabad has given to the
          country, President, Prime Ministers, Chief Ministers, Governors, Cabinet
          Ministers of Central & State governments, a number of cabinet
          secretaries to Government of India and civil servants (ICS, & IAS), in
          addition to eminent scientists, litterateurs, social scientists,
          educationists and the alumni of the University have distinguished
          themselves in all walks of life.
        </p>
      </div>

      <div class="capmuslife">
        <h1>The Campus Life: Spectrum of Activities</h1>
        <p class="aboutcontent">
          The University of Allahabad has been accorded the status of "Institution
          of National Importance" and became a Central University on 14th July
          2005. Our vision is to become a front-ranking university with advanced
          teaching and research facilities and infrastructure conducive to a
          situation and environment for nurturing internationally competitive
          research. Over-riding priority is being accorded to creating human
          resource at the highest level of competence, quality and motivation, in
          frontier areas of Sciences, associated Technologies, Social Sciences,
          Management, Commerce and Law capable of taking up the challenges in the
          present highly competitive global scenario. The strategies being adopted
          seek course corrections directed at the adaptation or transformation of
          teaching and research activities in the University. Course structures
          are being evolved to take cognizance of the fact that the boundaries
          between disciplines are breaking down and progress needs wider- base
          education.
        </p>
      </div>
      <div>
        <h1 class="capmuslife">NEW DIRECTIONS & IMPERATIVES</h1>
        <div class="alumni">
          <p class="aboutcontent">
            The academic system is being renovated and re-directed to prepare more
            effectively the human resource required to face emerging challenges in
            concerns such as the environment, globalization, sustainable
            development and the 'knowledge society'. The focus of the endeavours
            is on the continuing revolution in the Sciences and phenomenal
            advances in technologies as well as on the Interconnections
            (interface) of pure and applied Sciences with the social and human
            sciences, with specific attention to extension activities
            ('outreach'). This symbiosis of teaching - research - outreach already
            determines the University's approach and is being given sharper focus.
          </p>

          <img class="image" src="/assets/hh.jpeg " />
        </div>
      </div>

      <div>
        <h1 class="capmuslife">SPORTS AND GAMES</h1>
        <div class="alumni">
          <p class="aboutcontent">
            The University maintains the University (outdoor) Stadium, playing fields and courts for various games
            (Hockey, Cricket, Football, Tennis, Basketball, Volleyball, Squash, Badminton, etc.) and a Swimming Pool. It
            also has a Gymnasium, with indoor facilities to students in several of the recognised sports and games.
            Almost all the University Hostels and some of the recognised Hostels/Halls have their own indoor games
            facilities and playing fields and courts for outdoor games. The association provides kit allowance to
            members of University Teams, and TA/DA to teams and individual players participating in out-station
            Competitions, Tournaments and Athletic Meets.
          </p>
        </div>
      </div>


      <div>
        <h1 class="capmuslife">CULTURAL AND YOUTH PROGRAMMES</h1>
        <div class="alumni">
          <img class="image" src="/assets/IMG_0808.jpg" />
          <p class="aboutcontent">
            Cultural activities and youth programmes provide opportunities for the latent potentialities of the students
            to find an outlet in joyous and constructive ways. The students participate in inter-college and
            inter-university cultural and literary competitions. Steps are being taken for holding periodic events such
            as Zonal Youth Festivals, hiking and trekking expeditions and rock climbing, mountaineering and youth
            leadership training campus. In 2002, under the auspices of the Association of Indian Universities, North
            Zone Inter-University Youth Festival was organised.
          </p>


        </div>
      </div>


      <div>
        <h1 class="capmuslife">INDUSTRY-ACADEMIA INTERACTION</h1>
        <div class="alumni">
          <p class="aboutcontent">
            The University has been approached by multinational and national companies & organisations with partnership
            proposals for conducting tailor-made courses, specially for graduates with guaranteed job placements.
          </p>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
    </body>

    </html>