<%- include('../partials/header')  %>


<div class="aboutContainer">
    <div class="aboutHeading">
    <p class="about-p">About</p>
    </div>
    <br />
    <hr />
  <div class="aboutArticle">
    <br />
    <img src="https://picsum.photos/800/400?random=1" alt="Article Image">
    <h3>History</h3>
     <p class="about-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt eius deleniti. Explicabo perspiciatis illo, voluptatibus nam debitis possimus impedit. Aliquam sunt eaque porro, similique voluptas quam voluptates, a laudantium eius iure assumenda eos voluptatibus quas minus alias. Nam maxime aliquam id quam debitis cumque! Cumque vitae exercitationem tempora, molestias soluta esse in quo. Ratione eos eaque sapiente reprehenderit repellendus deleniti error ipsam minus aspernatur dolorum cumque, adipisci molestiae nemo deserunt possimus voluptate voluptates. Atque mollitia quod nisi voluptatum ea eligendi, vitae autem distinctio numquam est dignissimos expedita minus laboriosam sapiente fugit, quas voluptatem porro amet eius esse, accusamus fugiat.</p>
  </div>
  <div class="aboutArticle">
    <img src="https://picsum.photos/800/400?random=2" alt="Article Image">
    <h3>Mission & Vision</h3>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt iusto repellat tenetur in, ad voluptates non laborum suscipit iure id!</li>
      <li>Excepturi totam asperiores enim? Eveniet alias rerum harum dolores ipsa nisi vel cum iste perspiciatis quaerat nostrum, non quis maxime!</li>
      <li>Recusandae, molestiae quasi hic rerum velit impedit ad odio fuga sed minus optio esse, cumque accusantium, voluptates nobis ducimus? Perspiciatis!</li>
      <li>Laudantium quae distinctio nisi sequi modi reiciendis eveniet voluptatum, magnam nam! Minima cum quidem natus officiis ex quod id quae!</li>
      <li>Id iste aliquid necessitatibus sapiente ut, atque maxime veritatis asperiores impedit ducimus dolor veniam laborum accusamus incidunt molestias eos cumque?</li>
      <li>Numquam magni mollitia repellat ratione dolore, accusamus vel qui necessitatibus unde fuga et deserunt. Exercitationem modi dolorum et. Eos, perferendis?</li>
      <li>Quia saepe consequuntur hic, dolorum eum veritatis exercitationem voluptatum reprehenderit vero esse. Explicabo, quas hic tempore deserunt placeat ad repellat?</li>
      <li>Ipsum consequuntur nulla nam incidunt quasi laboriosam voluptates ducimus iste voluptatum sequi eaque doloremque, cumque, saepe distinctio doloribus iusto quaerat.</li>
      <li>Deserunt saepe eaque fugit nam ut quos, labore illum ab eveniet quaerat reiciendis ea voluptatum quae, voluptatibus excepturi ipsa voluptate!</li>
      <li>Molestias quas reprehenderit voluptates id! Illo officia id praesentium laborum, beatae autem est labore vel libero molestiae blanditiis cupiditate illum!</li>
    </ul>
  </div>
    <div class="aboutArticle">
      <h3>Core Values</h3>
      <p class="about-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis eligendi atque maiores labore, reprehenderit in commodi alias sunt quidem, id unde assumenda rem iure consequatur magni et repudiandae facilis eos. Tempora quod libero obcaecati suscipit voluptatibus nemo excepturi temporibus incidunt. Nemo iure ea doloremque fugiat. Dicta facilis vero asperiores voluptas, sunt, natus cum quasi incidunt ex est tenetur aut modi vel, voluptate maxime error ipsum! Quas veniam consequuntur voluptatum qui unde illo deleniti deserunt porro quaerat consequatur id quae, amet autem eligendi! Iure aliquam est ab, qui, natus sapiente cupiditate quos ipsa quibusdam cumque, minus maxime incidunt eaque veritatis distinctio.</p>
    </div>
    <div class="aboutArticle">
      <h3>Rules</h3>
      <p class="about-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis eligendi atque maiores labore, reprehenderit in commodi alias sunt quidem, id unde assumenda rem iure consequatur magni et repudiandae facilis eos. Tempora quod libero obcaecati suscipit voluptatibus nemo excepturi temporibus incidunt. Nemo iure ea doloremque fugiat. Dicta facilis vero asperiores voluptas, sunt, natus cum quasi incidunt ex est tenetur aut modi vel, voluptate maxime error ipsum! Quas veniam consequuntur voluptatum qui unde illo deleniti deserunt porro quaerat consequatur id quae, amet autem eligendi! Iure aliquam est ab, qui, natus sapiente cupiditate quos ipsa quibusdam cumque, minus maxime incidunt eaque veritatis distinctio.</p>
    </div>
    <div class="aboutArticle">
      <h3>Policies</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt iusto repellat tenetur in, ad voluptates non laborum suscipit iure id!</li>
        <li>Excepturi totam asperiores enim? Eveniet alias rerum harum dolores ipsa nisi vel cum iste perspiciatis quaerat nostrum, non quis maxime!</li>
        <li>Recusandae, molestiae quasi hic rerum velit impedit ad odio fuga sed minus optio esse, cumque accusantium, voluptates nobis ducimus? Perspiciatis!</li>
        <li>Laudantium quae distinctio nisi sequi modi reiciendis eveniet voluptatum, magnam nam! Minima cum quidem natus officiis ex quod id quae!</li>
        <li>Id iste aliquid necessitatibus sapiente ut, atque maxime veritatis asperiores impedit ducimus dolor veniam laborum accusamus incidunt molestias eos cumque?</li>
        <li>Numquam magni mollitia repellat ratione dolore, accusamus vel qui necessitatibus unde fuga et deserunt. Exercitationem modi dolorum et. Eos, perferendis?</li>
        <li>Deserunt saepe eaque fugit nam ut quos, labore illum ab eveniet quaerat reiciendis ea voluptatum quae, voluptatibus excepturi ipsa voluptate!</li>
        <li>Molestias quas reprehenderit voluptates id! Illo officia id praesentium laborum, beatae autem est labore vel libero molestiae blanditiis cupiditate illum!</li>
      </ul>
    </div>
  </div>







<%- include('../partials/footer')  %>
</body>
</html>