<%- include('../partials/header')  %>


<div  style="background-color: lightskyblue;">
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
    <h1 style="font-size: 50px">this is admission page.</h1>
</div>







<%- include('../partials/footer')  %>
</body>
</html>


