<%- include('../partials/header')  %>

    <div class="alumni">
      <div class="image">
        <img
          src="https://i.pinimg.com/564x/59/32/29/593229739184504afd9507cc42a9cb86.jpg"
        />
      </div>
      <div class="text">
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
          nobis?
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus, voluptatum. Consectetur alias ipsum ullam sapiente
          qui, hic veritatis dolor cum explicabo odit accusamus molestiae
          dignissimos vero nesciunt quisquam natus ab corporis numquam eveniet,
          eligendi aspernatur? Quae reprehenderit quo animi facilis, nihil
          dolorem officiis error incidunt voluptate excepturi nisi consequuntur
          explicabo numquam quam eius magnam recusandae iste debitis. Modi
          explicabo dolorem veniam animi. Voluptate vel quae temporibus,
          reiciendis, dolorem natus neque hic consequatur provident ea soluta.
          Vel earum sed ab accusantium laudantium error perspiciatis sint
          obcaecati itaque vero cum culpa deleniti commodi fuga voluptatum
          doloribus ad dignissimos, quisquam similique nihil tenetur. Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Corporis cum ea
          quam quaerat vel autem omnis eaque alias, officiis quisquam
          consequuntur iure quo minima quae deleniti ex beatae debitis?
          Inventore sed fugit harum dicta ipsa eligendi facere quos, architecto
          ut mollitia. Deserunt, quisquam itaque voluptas harum at quo nihil?
          Voluptatum fugit, amet, vitae, sapiente placeat doloremque dolores
          inventore itaque illo repellendus maxime dolor. Placeat, velit minima
          sit excepturi corrupti in numquam tempora aut facere obcaecati,
          expedita cum error amet accusantium aspernatur quaerat vero? Eius ipsa
          animi, laborum, adipisci excepturi laboriosam incidunt modi harum nemo
          impedit exercitationem magnam asperiores corporis repellendus nisi
          facere et blanditiis, amet iure eveniet beatae. Rem repellat nihil
          omnis, illum soluta, itaque fugit, architecto aperiam laborum cum
          magni quaerat iure dolore praesentium dicta temporibus exercitationem
          maxime obcaecati consequatur deleniti voluptates accusamus distinctio
          minus. Eum alias ad recusandae? Non, debitis. Debitis saepe assumenda
          earum libero voluptas, laboriosam facere minima suscipit voluptatibus
          totam quisquam deleniti nemo veritatis quam doloremque ratione
          dolores! Ipsa quo natus incidunt aspernatur quibusdam alias labore
          neque voluptatum. A pariatur asperiores suscipit accusantium? Ratione
          fugiat quas blanditiis laborum veniam laboriosam, molestias totam
          velit magni fuga iusto est consequuntur nam, nihil incidunt distinctio
          maiores a harum mollitia.
        </p>
      </div>
    </div>







<%- include('../partials/footer')  %>
</body>
</html>