<%- include('../partials/header')  %>

<section>

  
    <h1 class="galleryTitle">this is a testing gallery image</h1>
 <div class="grid-container">
   <div class="item1">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>
   <div class="item2">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>
   <div class="item3">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>  
   <div class="item4">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>
   <div class="item5">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>
   <div class="item6">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>
   <div class="item7">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>
   <div class="item8">
     <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
   </div>
 </div>
 </section>
 
 <section>
 
   
   <h1 class="galleryTitle">this is a second testing gallery image</h1>
 <div class="grid-container">
  <div class="item1">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
  <div class="item2">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
  <div class="item3">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>  
  <div class="item4">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
  <div class="item5">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
  <div class="item6">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
  <div class="item7">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
  <div class="item8">
    <img class="img" src="https://images.pexels.com/photos/16023581/pexels-photo-16023581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
 </div>
 </section>
</div>







<%- include('../partials/footer')  %>
</body>
</html>