<%- include('../partials/header') %>


<div class="bodysectionbackground">
    <div class="bodysection">
    <div class="AboutBorder">
      <h1 class="Abouttext">Libraries at the Centres
      </h1>
    </div>
    <div class="alumni">
      <img class="image" src="/assets/IMG_0693.JPG" />

      <p class="aboutcontent">

        The mission of the Library is to provide information services and access to full text both in digital and
        printed resources to support the scholarly and information needs of all students, faculty members and staff and
        to facilitate creation of new knowledge.
      </p>
    </div>

    <div class="alumni">
      <p class="aboutcontent">
        The individual Centers of IPS have their own library. Each library exclusively developed an excellent collection of documents in area of Food Technology, Nutritional Sciences, Media Studies, Computer Science and Fashion Design Technology.
      </p>
      <img class="image" src="/assets/IMG_0718.JPG" />
    </div>

    <div class="alumni">
      <img class="image" src="/assets/IMG_0783.JPG" />

      <p class="aboutcontent">
        The libraries are well equipped with modern facilities and resources (Print and Electronic) in the forms of books, journals, standards, theses, reports, etc. online databases and repositories like INFLIBNET INDEST, DELNET, ETC. through which free online access is provided to majority of the research journals within the premises.
      </p>
    </div>

    <div class="alumni alumni-last">
      <p class="aboutcontent">
        IT has collection of about 28,500 items, used by more than 11,00 members. Libraries provide access to over 40,000 online full- text journals and several abstracting databases through university. Besides, there are 500 e-books. The collection consists of Books, Back-volumes of Periodicals, Theses, Conference Proceedings, Standards, Seminar and Project Reports and their CDs.
      </p>
      <img class="image" src="/assets/IMG_0681.JPG" />
    </div>
</div>
  </div>









    <%- include('../partials/footer') %>
        </body>

        </html>