<%- include('../partials/header')  %>



<div class="newsletterContainter">
    <h1>University Newsletter</h1>
    <p>Welcome to the monthly newsletter of University Name. Here are some of the latest news and updates from our campus community.</p>
    <div class="article">
      <img src="https://picsum.photos/800/400?random=1" alt="Article Image">
      <h3>University Named Top Performer in STEM Programs</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae gravida turpis. Nullam ullamcorper odio non sapien ullamcorper, id iaculis odio posuere. Sed sodales euismod tortor at hendrerit. Sed venenatis velit quam, eget hendrerit neque malesuada vel.</p>
      <p><a href="#">Read More &rarr;</a></p>
    </div>
    <div class="article">
      <img src="https://picsum.photos/800/400?random=2" alt="Article Image">
      <h3>New Student Center Opens on Campus</h3>
      <p>Phasellus facilisis mi eu turpis vehicula, ut rhoncus ex bibendum. Maecenas fringilla congue augue vitae congue. Nam vel nisl eget nulla ullamcorper euismod ac id lectus. Nullam posuere sapien eu quam posuere, at sodales leo ultrices. Aliquam vel nisl quis elit eleifend lacinia.</p>
      <p><a href="#">Read More &rarr;</a></p>
      </div>
      <div class="article">
        <img src="https://picsum.photos/800/400?random=3" alt="Article Image">
        <h3>University Partners with Local Business to Create Internship Program</h3>
        <p>Suspendisse lobortis semper nulla, vel laoreet nisi elementum a. Duis mattis vitae ipsum sed tristique. Sed dignissim urna id tortor dapibus malesuada. Vestibulum at sapien ultricies, dictum dolor eu, fringilla velit. Nullam consectetur velit quam, vitae dictum risus finibus sed.</p>
        <p><a href="#">Read More &rarr;</a></p>
      </div>
      <h2>Stay Connected</h2>
      <p>Sign up for our newsletter to receive updates about University Name straight to your inbox.</p>
      <form>
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="Subscribe">
      </form>
    </div>







<%- include('../partials/footer')  %>
</body>
</html>