<%- include('../partials/header')  %>
<div class="bodybackground">
<div class="bodysection">
  <div class="AboutBorder">
    <h1 class="Abouttext">
      <span>About</span> <br />
      Institute Of Professional Studies
    </h1>
  </div>
  <div class="contentsdiv">
    <img class="image" src="../../assets/IMG_5008.JPG" />

    <p class="aboutcontent">
      Institute of Professional Studies was set up in May 2000 by the
      Executive Council of the University of Allahabad under Section 44 of the
      Act. Institute of Professional Studies (IPS) is a UNIVERSITY INSTITUTE
      under Statute 30 (I) (ii), read with section 3(Y) & section 27 (L) of
      the University of Allahabad Act 2005. It was instituted in the year
      2000-2001 by the Executive Council of the University, on the
      recommendation of the Academic Council, under Section 44 of the U.P.
      State Universities Act 1973. It is an institute established and
      maintained by the University. The basic objective is to develop linkages
      between the 'world of learning' and the 'world of work' through
      professional courses.
    </p>
  </div>

  <div class="capmuslife">
    <p class="aboutcontent">
      The Institute of Professional Studies (IPS) has been created to provide
      short, medium and long-term professional courses on a regular and
      self-financing basis under the aegis of Centres dedicated to specific
      areas. Presently the Institute has Four centres:
    </p>
    
  </div>
  <ul class="ulclass">
    <li>Centre of Food Technology</li>
    <li>Centre of Computer Education</li>
    <li>Centre of Fashion Design & Technology</li>
    <li>Centre of Media Studies</li>
  </ul>
  <div>
      <p class="aboutcontent">
        The Institute, established in May 2000 with one diploma programme,
        presently, is conducting, through its four centres:
      </p>
    <div class="bulletsList">
      <h3 class="centerh3">D. PHIL. PROGRAMMES IN:</h3>
      <ul class="ullist">
        <li>Food Technology</li>
        <li> Nutritional Sciences</li>
        <li> Computer Applications</li>
      </ul>
      <h3 class="centerh3">POSTGRADUATE DEGREE PROGRAMMES:</h3>
      <ul class="ullist">
        <li>M.Sc. in Food Technology</li>
        <li>Master in Computer Applications (MCA)</li>
        <li> M. Voc in Fashion Design & Technology</li>
        <li> M. Voc in Media Studies</li>
      </ul>
      <h3 class="centerh3">POSTGRADUATE DIPLOMA PROGRAMMES: </h3>
      <ul class="ullist">
        <li>PG Diploma in Computer Applications</li>
      </ul>

      <h3 class="centerh3">BACHELOR DEGREE PROGRAMMES:</h3>
      <ul class="ullist">
        <li>Bachelor of Computer Applications (BCA)</li>
        <li>B. Voc in Food Processing & Technology</li>
        <li>B.A. in Fashion Design & Technology</li>
        <li>B. Voc in Fashion Design & Technology</li>
        <li>B. A. in Media Studies</li>
        <li>B. Voc in Media Studies</li>
      </ul>
      
      <h3 class="centerh3">DIPLOMA PROGRAMMES:</h3>
      <ul class="ullist">
        <li>Two year Advance Diploma in Fashion Design & Technology</li>
        <li>Two year Diploma in Computer Aided Fashion Design</li>
        <li>Diploma in Information Technology</li>
        <li>B. Voc in Fashion Design & Technology</li>
        <li>Diploma in Computer Applications</li>
      </ul>
    </div>
   
    </div>
  </div>
</div>
</div>
<%- include('../partials/footer')  %>
</body>
</html>