<%- include('../partials/header') %>
    <div class="bodybackground">
        <div class="bodysection">
            <div class="contact">
                <h1>CONTACT US</h1>
            </div>
            <div class="image-left">
                <img class="picture-image" src="../../assets/IMG_0676.JPG" />
                <div>
                    <h1 class="titleh1">Director's Office</h1>
                    <p class="paragraph"><strong>Address:</strong> Director Office, Centre of Food Technology, (Science Faculty Campus),
                        University of Allahabad, Allahabad; 211002 <br /><strong>Phone :</strong> 0532-2460289,
                        09838776622<br /> <strong>Email:</strong> ipsatau@gmail.com</p>
                </div>
            </div>

            <div class="image-right">
                <img class="picture-image" src="../../assets/IMG_0692.JPG" />
                <div>
                    <h1 class="titleh1">Centre of Food Technology</h1>
                    <p class="paragraph"><strong>Address:</strong>Centre of Food Technology, (Science Faculty Campus), University of
                        Allahabad, Allahabad; 211002 <br /><strong>Phone :</strong>0532-2460289<br />
                        <strong>Email:</strong> ipsatau@gmail.com
                    </p>
                </div>
            </div>

            <div class="image-left">
                <img class="picture-image" src="../../assets/IMG_0752.JPG" />
                <div>
                    <h1 class="titleh1">Centre of Computer Education </h1>
                    <p class="paragraph"><strong>Address:</strong> Centre of Computer Education & Training, (Science Faculty Campus),
                        University of Allahabad, Allahabad; 211002 <br /><strong>Phone :</strong> 0532-2460383<br />
                        <strong>Email:</strong> ipsatau@gmail.com
                    </p>
                </div>
            </div>

            <div class="image-right">
                <img class="picture-image" src="../../assets/IMG_0761.JPG" />
                <div>
                    <h1 class="titleh1">Centre of Media Studies</h1>
                    <p class="paragraph"><strong>Address:</strong>Centre of Media Studies, (Central Delegacy Campus), University of
                        Allahabad,
                        Allahabad 211002<br /><strong>Phone :</strong> 0532-2461986<br /> <strong>Email:</strong>
                        ipsatau@gmail.com</p>
                </div>
            </div>

            <div class="image-left padding">
                <img class="picture-image" src="../../assets/IMG_0798.JPG" />
                <div>
                    <h1 class="titleh1">Centre of Fashion Design & Technology</h1>
                    <p class="paragraph"><strong>Address:</strong> C Centre of Fashion Design & Technology, (Women's College Campus),
                        University of Allahabad, Allahabad 211002 <br /><strong>Phone :</strong> 0532-2461492<br />
                        <strong>Email:</strong> ipsatau@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
        </body>

        </html>