<%- include('../partials/header') %>
    <div class="uoaclass">
        <div class="bodysection">
            <div class="AboutBorder">
                <h1 class="Abouttext">Syllabus</h1>
            </div>
            <table style="width: 100%; margin-top: 40px;">


                <tr class="titlecentre">
                    <td>Centre</td>
                    <td>Course</td>
                    <td>Syllabus</td>
                </tr>
                <tr>
                    <td class="centernamebold" rowspan="3">Centre of Food Technology</td>
                    <td>M. Sc. Food Technology</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/ft.pdf" target="_blank">Download</a></div>
                    </td>
                </tr>
                <tr>
                    <td>M. Sc. Nutritional Sciences</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/ns.pdf" target="_blank">Download</div>
                    </td>
                </tr>
                <tr class="centrename">
                    <td>B.Voc in Food Technology (5-Year integrated programme)</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/ft.pdf"><a
                                    href="download/syllabus/bvocft.pdf" target="_blank">Download</div>
                    </td>
                </tr>


                <tr>
                    <td class="centernamebold" rowspan="4">Centre of Computer Education</td>
                    <td>Master of Computer Applications (MCA)</td>
                    <td>
                        <div class="viewDetail"><a href="./assets/MCA Syllabus 2022-23.pdf" target="_blank">Download
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Bachelor of Computer Applications (BCA)</td>
                    <td>
                        <div class="viewDetail"><a href="./assets/BCA Syllabus 2022-23.pdf" target="_blank">Download
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Post Graduate Diploma in Computer Applications(PGDCA)</td>
                    <td>
                        <div class="viewDetail"><a href="./assets/PGDCA Syllabus 2022-23.pdf" target="_blank">Download
                        </div>
                    </td>
                </tr>
                <tr class="centrename">
                    <td>Five Year Integrated BCA+MCA (Data Science)</td>
                    <td>
                        <div class="viewDetail"><a href="./assets/Integrated BCA and MCA(Data Science) 2021-22.pdf"
                                target="_blank">Download</div>
                    </td>
                </tr>

                <tr>
                    <td class="centernamebold" rowspan="3">Centre of Media Studies</td>
                    <td>B. A. in Media Studies</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/bams.pdf" target="_blank">Download</div>
                    </td>
                </tr>
                <tr>
                    <td>B.Voc in Media Studies</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/bvocms.pdf" target="_blank">Download</div>
                    </td>
                </tr>
                <tr class="centrename">
                    <td>M. voc in Media Studies</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/mvocms.pdf" target="_blank">Download</div>
                    </td>
                </tr>

                <tr>
                    <td class="centernamebold" rowspan="5">Centre of Fashion Design & Technology</td>
                    <td>B. A. in Fashion Design & Technology</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/bafd.pdf" target="_blank">Download</div>
                    </td>
                </tr>
                <tr>
                    <td>B.Voc in Fashion Design & Technology</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/bvocfd.pdf" target="_blank">Download</div>
                    </td>
                </tr>
                <tr>
                    <td>M.Voc in Fashion Design & Technology</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/mvocfd.pdf" target="_blank">Download</div>
                    </td>
                </tr>
                <tr>
                    <td>Two year Advanced Diploma in Fashion Design</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/adfd.pdf" target="_blank">Download</div>
                    </td>
                </tr>
                <tr>
                    <td>Two year Computer Aided Fashion Design</td>
                    <td>
                        <div class="viewDetail"><a href="download/syllabus/cad.pdf" target="_blank">Download</div>
                    </td>
                </tr>


            </table>
        </div>
    </div>
    </div>
    <%- include('../partials/footer') %>
        </body>

        </html>