<% layout('layouts/boilerplate') %>

    <div class="col-8"> 
        <h1 class="text-center">All Students</h1>
        <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-danger" href="/students/new">Add a Student</a>
        </div>
    
        <% for (let c of students){%>
            <div class="card mb-3">
                <div class="row">
                        <div class="card-body ps-4">
                            <h5 class="card-title"><%= c.name %></h5>
                            <p class="card-text d-inline"><b>Centre : </b><%= c.centreCode %></p>
                            <p class="card-text"><b>Enrollment No. : </b><%= c.enrollmentNumber %></p>
                            <a class="btn btn-outline-primary" href="/students/<%=c._id%>">View more...</a>
                        </div>
                    
                </div>
            </div>
        <% }%>
    </div>   